.PhotosGallery {
  background-color: white;
  height: 450px;
}
.galleriesList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.PhotosGallery h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 35px;
  font-weight: bolder;
  color: black;
}
