.FullArticle {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
}

.Title {
  text-align: center;
  margin: 20px 0;
  color: black;
  font-weight: bolder;
  font-size: 35px;
}

.FullArticle img {
  width: 100%;
}

.text {
  margin: 20px 0;
}
.text p {
  color: black;
  font-weight: 400;
  font-size: 20px;
}
