.Homepage {
  background-color: white;
  height: 450px;
}

header {
  background-image: url("../../assets/img/header-img.jpg");
  background-size: cover;
  background-position: center;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 100%;
}
h1 {
  color: white;
}
